.el-loading-spinner {
  /*这个是自己想设置的 gif 加载动图*/
  background-image: url('../imgs/common/component-loading.gif');
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 100%;
  background-position: center;
  top: 50%;
}
.el-loading-spinner .circular {
  /*隐藏 之前  element-ui  默认的 loading 动画*/
  display: none;
}
